/**
 * Basis CSS file
 *
 * @author  Educom
 * @version 1.0
 *
 */

html, body {
    margin: 0;
    padding: 0;
}
.red-square {
    width: 80px;
    height: 80px;
    color: #FFF;
    padding: 20px;
    margin: 10px;
    font-size: 20px;
    background-color: rgba(255,0,0,0.4);
    display: inline-block;
}

.cascading-parent {
    font-weight: bolt;
    color: #000;
}

.cascading-child {
    background-color: rgb(199, 235, 157);
    width: 180px;
    height: 150px;
    border: 2px solid rgba(20, 188, 126, 0.285);
    border-radius: 50px;
    text-align: center;
}