/**
 * Basis CSS file
 *
 * @author  Educom
 * @version 1.0
 *
 */

html, body {
    margin: 0;
    padding: 0;
}
.red-square {
    width: 80px;
    height: 80px;
    color: #FFF;
    padding: 20px;
    margin: 10px;
    font-size: 20px;
    background-color: rgba(255,0,0,0.4);
    display: inline-block;
}

.cascading-parent {
    font-weight: bolt;
    color: #000;
}

.cascading-child {
    background-color: rgb(199, 235, 157);
    width: 180px;
    height: 150px;
    border: 2px solid rgba(20, 188, 126, 0.285);
    border-radius: 50px;
    text-align: center;
}

a {
    font-size: 22px;
    color: #F0F;
} 

.cascading-parent h2 {
    color: #FD0;
    font-size: 50px;
    background-color: rgb(255,0,0,0.4);
    width: 800px;
}

.cascading-parent a {
    font-size: 32px;
    color: #CCC;
}


.site-font {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.site-color {
    background-color: rgb(35, 38, 227);
    color: #54d71b;
}

.site-square {
    width: 600px;
    height: 100px;
    border: 2px solid rgba(20, 188, 126, 0.285);
    border-radius: 50px 10px;
    text-align: center;
}

/* unvisited link */
a:link {
    color: rgb(0, 140, 255);
  }
  
  /* visited link */
  a:visited {
    color: rgb(23, 93, 244);
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(208, 17, 17);
  }
  
  /* selected link */
  a:active {
    color: rgb(17, 61, 208);
  }