html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*header section*/
.banner {
    background-color: #FFF;
    color: #000;
    padding: 30PX;
    height: 5%;
    width: 96%;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}


/* CONTENT SECTION */
.content {
    display: flex;
    background-color: #FFF;
    justify-content: center;
    padding: 50px;
    height: 50%;
    align-items: center;
}

.block-1 {
    background-image: url(https://as1.ftcdn.net/v2/jpg/00/92/58/28/1000_F_92582804_9G6V5hKhcnCJ60w2I87fqOTJmgQEySTy.jpg);
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: inline-block;
    width: 30%;
    height: 300px;
    margin: 5px;
    border: 0px solid transparent;
    border-radius: 10%;
    transition: all 0.3s ease;
    text-align: center;
    font-size: 25px; 
    font-weight: bold;
    color: #FFF;
    align-content: center; 
    -ms-zoom-animation: default
}

.block-2 {
    background-image: url(https://monument.heritage.brussels/medias/buildings/10001053/10001053_0008_M02.jpg);
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: inline-block;
    width: 30%;
    height: 300px;
    margin: 5px;
    border: 0px solid transparent;
    border-radius: 10%;
    transition: all 0.3s ease;
    -ms-zoom-animation: default;
    text-align: center;
    font-size: 25px; 
    font-weight: bold;
    color: #FFF;
    align-content: center;
    -ms-zoom-animation: default; 
}

.block-3 {
    background-image: url(https://www.repro.nl/media/catalog/product/1/5/15479555__brooklyn_bridge-bw_4.jpg);
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: inline-block;
    width: 30%;
    height: 300px;
    margin: 5px;
    border: 0px solid transparent;
    border-radius: 10%;
    transition: all 0.3s ease;
    -ms-zoom-animation: default;
    text-align: center;
    font-size: 25px; 
    font-weight: bold;
    color: #FFF;
    align-content: center;
    -ms-zoom-animation: default; 
}

.block-1:hover {
    border: 5px solid transparent;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.block-2:hover {
    border: 5px solid transparent;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.block-3:hover {
    border: 5px solid transparent;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

/*footer section*/
.footer {
    background-color: #c4c4c4ea;
    color: #FFF;
    padding: 40PX;
    height: 5%;
    margin: 0%;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}
